<configuration>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/oeHub/logs/oeProxy.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/oeHub/logs/oeProxy.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="tricatch.oe.proxy" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="OFF"/>

</configuration>
